# Unit 01: Intro to Pandas (`01_pandas_02_2025s2`)

# Dependencies

In [ ]:
import os
import pandas as pd

# Data Resources
Directory & File Path

In [ ]:
# This folder directory path.
CODE_DIRECTORY = os.getcwd()

# The resources file paths.
VIDEOS_FILE = os.path.normpath(os.path.join(CODE_DIRECTORY, "..", "code", "videos.csv"))
CATEGORIES_FILE = os.path.normpath(
    os.path.join(CODE_DIRECTORY, "..", "code", "category_id.json")
)

Load Files

In [ ]:
# The original video DataFrame for Q1.
INITIAL_VIDEO_DF = pd.read_csv(VIDEOS_FILE)

# The video DataFrame that has duplicates removed for Q2 - Q5.
VIDEO_DF = INITIAL_VIDEO_DF.drop_duplicates()

# The video categories from a JSON file.
CATEGORIES_DF = pd.read_json(CATEGORIES_FILE)

Display video DataFrame

In [ ]:
VIDEO_DF.head(10)

Display categories DataFrame

In [ ]:
CATEGORIES_DF.head(10)

# Function `Q1`
How many rows are there in the videos.csv after removing duplications on video DataFrame?

## Duplicate Rows
Example of duplicates row in the initial video DataFrame.

In [ ]:
INITIAL_VIDEO_DF[INITIAL_VIDEO_DF.duplicated(keep=False)].sort_values(
    by="video_id"
).head(10)

## Remove Duplicates
Use `drop_duplicates()` to remove duplicate rows.
- `df.shape` returns a amount of the rows and columns of the DataFrame as a tuple.

In [ ]:
# Use deep copy, so it won't affect the original DataFrame.
q1_video_df = INITIAL_VIDEO_DF.copy()

# Rows and columns of the original DataFrame.
print(f"Original DataFrame shape: {q1_video_df.shape}")
print(f"- {q1_video_df.shape[0]} rows")
print(f"- {q1_video_df.shape[1]} columns")

In [ ]:
# Remove duplicate rows.
q1_video_df = q1_video_df.drop_duplicates()

# Rows and columns of the modified DataFrame.
print(f"Modified DataFrame shape: {q1_video_df.shape}")
print(f"- {q1_video_df.shape[0]} rows")
print(f"- {q1_video_df.shape[1]} columns")

# Function `Q2`
How many VDO that have "dislikes" more than "likes"? Make sure that you count only unique title!

**Assume that**
- `videos.csv` has been loaded into memory and is ready to be utilized as `vdo_df`
- The duplicate rows of `vdo_df` have been removed.

## Column Access
- Access the title column by using `vdo_df["dislikes"]`
- Access the dislike count column by using `vdo_df["dislikes"]`
- Access the like count column by using `vdo_df["likes"]`
- Access those 3 columns at the same time by using the command below.

**NOTE:** `head(10)` is a command to show only the top 10 rows.

In [ ]:
VIDEO_DF[["title", "dislikes", "likes"]].head(10)

## Rows Filtering
- Video dislike count is `VIDEO_DF["dislikes"]`
- Video like count is `VIDEO_DF["likes"]`
- Filter a video with dislikes count more than likes count by using the condition `VIDEO_DF["dislikes"] > VIDEO_DF["likes"]`

In [ ]:
# Use deep copy, so it won't affect the original DataFrame.
q2_video_df = VIDEO_DF.copy()

# Filter conditions
Q2_FILTER_CONDITIONS = q2_video_df["dislikes"] > q2_video_df["likes"]

Display example rows of the filtered DataFrame.

In [ ]:
q2_video_df = q2_video_df[Q2_FILTER_CONDITIONS]
q2_video_df.head(10)

## Unique Video Titles
Despite removing duplicate rows before processing, some rows might have duplicate video titles. For example.

In [ ]:
q2_video_df[q2_video_df.duplicated(subset=["title"], keep=False)].sort_values(
    by="video_id"
).head(10)

Use `drop_duplicates()` to remove duplicate rows.
- `subset` argument tells Pandas to consider duplicate on only the specified rows.

In [ ]:
# Rows and columns of the original DataFrame.
print(f"Original DataFrame shape: {q2_video_df.shape}")
print(f"- {q2_video_df.shape[0]} rows")
print(f"- {q2_video_df.shape[1]} columns")

In [ ]:
# Remove rows with duplicate video title.
q2_video_df = q2_video_df.drop_duplicates(subset=["title"])

# Rows and columns of the modified DataFrame.
print(f"Modified DataFrame shape: {q2_video_df.shape}")
print(f"- {q2_video_df.shape[0]} rows")
print(f"- {q2_video_df.shape[1]} columns")

# Function `Q3`
How many VDO that are trending on 22 Jan 2018 with comments more than 10,000 comments?
- The trending date of `vdo_df` is represented as `YY.DD.MM`. For example, `January 22, 2018`, is represented as `18.22.01`.

**Assume that**
- `videos.csv` has been loaded into memory and is ready to be utilized as `vdo_df`
- The duplicate rows of `vdo_df` have been removed.

## Rows Filtering
- Video trending date is `VIDEO_DF["trending_date"]`
- Video comment count is `VIDEO_DF["comment_count"]`
- Filter a video with trending date on January 22, 2018 by using the condition `VIDEO_DF["trending_date"] == "18.22.01"`
- Filter a video with comment count more than 10000 by using the condition `VIDEO_DF["comment_count"] > 10000`
- AND operation on Pandas filtering is `&`

In [ ]:
# Use deep copy, so it won't affect the original DataFrame.
q3_video_df = VIDEO_DF.copy()

# Filter conditions
Q3_FILTER_CONDITIONS = (q3_video_df["trending_date"] == "18.22.01") & (
    q3_video_df["comment_count"] > 10000
)

Display example rows of the filtered DataFrame.

In [ ]:
q3_video_df = q3_video_df[Q3_FILTER_CONDITIONS]
q3_video_df.head(10)

Count number of rows of the filtered DataFrame.

In [ ]:
# Rows and columns of the modified DataFrame.
print(f"Filtered DataFrame shape: {q3_video_df.shape}")
print(f"- {q3_video_df.shape[0]} rows")
print(f"- {q3_video_df.shape[1]} columns")

# Function `Q4`
Which trending date that has the minimum average number of comments per VDO?

**Assume that**
- `videos.csv` has been loaded into memory and is ready to be utilized as `vdo_df`
- The duplicate rows of `vdo_df` have been removed.

## Row Grouping
We need to calculate average of `comment_count` grouped by `trending_date`.
- Use `.groupby("trending_date")` to group rows with the same `trending_date`.
- Use `["comment_count"].mean()` to get average value of `comment_count` on the same trending date.
- Use `.reset_index(name="avg_comment_count")` to rename the column into `avg_comment_count`

In [ ]:
# Use deep copy, so it won't affect the original DataFrame.
q4_video_df = VIDEO_DF.copy()

# Row grouping
q4_video_df = (
    q4_video_df.groupby("trending_date")["comment_count"]
    .mean()
    .reset_index(name="avg_comment_count")
)

Display example rows of the grouped DataFrame.

In [ ]:
q4_video_df.head(10)

## Minimum Value
Use `.min()` to get minimum value.

In [ ]:
print(f"Minimum average comment count {q4_video_df["avg_comment_count"].min()}")

Filter rows with minimum average comment count.

In [ ]:
Q4_FILTER_CONDITIONS = (
    q4_video_df["avg_comment_count"] == q4_video_df["avg_comment_count"].min()
)

q4_video_df[Q4_FILTER_CONDITIONS]

`.iloc[]` command is to select a data from DataFrame from specific row and column indices.

In [ ]:
# Get the first date of "trending_date" column from filtered DataFrame.
date = q4_video_df[Q4_FILTER_CONDITIONS]["trending_date"].iloc[0]

print(f"The trending date with lowest average comment count is {date}")

# Function `Q5`
Compare `Sports` and `Comedy`, how many days that there are more total daily views of VDO in `Sports` category than in `Comedy` category?
- You must load the additional data from `category_id.json` into memory before executing any operations.
- To access `category_id.json`, use the path `/data/category_id.json`.

**Assume that**
- `videos.csv` has been loaded into memory and is ready to be utilized as `vdo_df`
- The duplicate rows of `vdo_df` have been removed.

## Access JSON DataFrame
Display categories DataFrame

In [ ]:
CATEGORIES_DF

See example data on `items` column

In [ ]:
# Get the first data from the items column
example_data = CATEGORIES_DF["items"].iloc[0]

# Output the example data with its data type.
print("Example data on 'items' column")
print(example_data)
print(f"\nData type: {type(example_data)}")

- As we can see, all data on `items` column are `dict`.
- We can access `id` and `title` of each category using the command below.

In [ ]:
# Get the first data from the items column
example_data = CATEGORIES_DF["items"].iloc[0]

# Get category ID and name.
print(f"Category ID: {example_data["id"]}")
print(f"Category name: {example_data["snippet"]["title"]}")

## Mapping Values
- In the CSV file, it has only category ID for each video, but no category name.
- In the JSON file, it has both category ID with the category name.

In [ ]:
# Show the first 10 rows with video title and category ID.
VIDEO_DF[["title", "category_id"]].head(10)

- To process the data further, we need to create `category_name` column from `category_id` value.
- So we need a `dict` to map `category_id` to `category_name`.

In [ ]:
# Initialize a dict to store mappings.
CATEGORIES_MAPPINGS = {}

# Iterate each value in items column from JSON file DataFrame.
for data in CATEGORIES_DF["items"]:
    # Extract the category ID and name from raw value.
    category_id = int(data["id"])
    category_name = data["snippet"]["title"]

    # Store the mappings to a dict.
    CATEGORIES_MAPPINGS[category_id] = category_name

# Display mappings dict
print("========== CATEGORIES MAPPINGS ==========")
for category_id, category_name in CATEGORIES_MAPPINGS.items():
    print(f"{category_id} --> {category_name}")

Create `category_name` column from `category_id` value by mapping values using `.map()`.

In [ ]:
# Use deep copy, so it won't affect the original DataFrame.
q5_video_df = VIDEO_DF.copy()

# Create the category_name column by mapping values.
q5_video_df["category_name"] = q5_video_df["category_id"].map(CATEGORIES_MAPPINGS)

Show the example rows with video title, category ID, and category name.

In [ ]:
q5_video_df[["title", "category_id", "category_name"]].head(10)

## Rows Filtering 1
- Filter videos with only `Sports` or `Comedy` category.
- Use `.isin()` instead of traditional `in`.

In [ ]:
Q5_FILTER_CONDITIONS = q5_video_df["category_name"].isin(["Sports", "Comedy"])

q5_video_df = q5_video_df[Q5_FILTER_CONDITIONS]

q5_video_df[["trending_date", "title", "category_name", "views"]].head(10)

## Pivot Table
Pivot table is a tool to group, analyze, and summarize data which is suitable to a complex grouping task like this problem.
- `index` is the rows value which is `trending_date`.
- `columns` is the columns header value which is `category_name` (`Sports` and `Comedy`).
- `values` is the calculated number which is `views`.
- `aggfunc` is the math function to calculate which is `sum` because we need total daily view.

In [ ]:
q5_pivot_table = q5_video_df.pivot_table(
    index=["trending_date"], columns=["category_name"], values=["views"], aggfunc="sum"
)

Display pivot table.

Now, we can see total daily view of each category.

In [ ]:
q5_pivot_table

## Rows Filtering 2
- Comedy video total daily views is `q5_pivot_table[("views", "Comedy")]`
- Sports video total daily views is `q5_pivot_table[("views", "Sports")]`
- Filter trending days with sports video is more than comedy video total daily views by using the command below.

In [ ]:
Q5_FILTER_CONDITIONS = (
    q5_pivot_table[("views", "Sports")] > q5_pivot_table[("views", "Comedy")]
)

q5_pivot_table = q5_pivot_table[Q5_FILTER_CONDITIONS]

q5_pivot_table.head(10)

In [ ]:
# Rows and columns of the modified DataFrame.
print(f"Filtered pivot table shape: {q5_pivot_table.shape}")
print(f"- {q5_pivot_table.shape[0]} rows")
print(f"- {q5_pivot_table.shape[1]} columns")