# 2110446 DATA SCIENCE AND DATA ENGINEERING

## **Unit 01:** Introduction to Pandas

- **Problem:** Basic Pandas (`01_pandas_01_2025s2`)
- **Author:** Worralop Srichainont
- **Year:** 2025 (Semester 2)

## Dependencies

In [1]:
import pandas as pd

## Data Resources

File URL

In [2]:
SCORES_URL = "https://raw.githubusercontent.com/reisenx/2110446-DATA-SCI-ENG/refs/heads/main/01-Intro-to-Pandas/Grader/01_pandas_01_2025s2/code/scores.csv"

Load files

In [3]:
SCORES_DF = pd.read_csv(SCORES_URL)

Display scores `DataFrame`

In [4]:
SCORES_DF.head(10)

   id  score
0   1     49
1   2     99
2   3     62
3   4     14
4   5      7
5   6     48
6   7     29
7   8     94
8   9      4
9  10     23

# Problem `Q1`

Please find the shape of the data.

Shape of the `DataFrame` is a tuple with two values.
- The first one is **amount of rows**.
- The second one is **amount of columns**.

To access shape of the `DataFrame`, use `.shape`

In [5]:
scores_df_shape = SCORES_DF.shape
print(f"Shape of the DataFrame is {scores_df_shape}.")

Shape of the DataFrame is (50, 2).

- Use `.shape[0]` for **amount of rows**.
- Use `.shape[1]` for **amount of columns**.

In [6]:
print(f"This DataFrame has {SCORES_DF.shape[0]} rows.")
print(f"This DataFrame has {SCORES_DF.shape[1]} columns.")

This DataFrame has 50 rows.
This DataFrame has 2 columns.

# Problem `Q2`

Please find the max score of the data.

The `DataFrame` has two columns.
- **`id` column** is student ID.
- **`score` column** is student score.

**NOTE:** `.head(10)` is a command to only show the first 10 rows.

In [7]:
SCORES_DF.head(10)

   id  score
0   1     49
1   2     99
2   3     62
3   4     14
4   5      7
5   6     48
6   7     29
7   8     94
8   9      4
9  10     23

To access each column use `[]` operator.
- Use `SCORES_DF["id"]` to access `id` column.
- Use `SCORES_DF["score"]` to access `score` column.

In [8]:
SCORES_DF["id"].head(5)

0    1
1    2
2    3
3    4
4    5
Name: id, dtype: int64

In [9]:
SCORES_DF["score"].head(5)

0    49
1    99
2    62
3    14
4     7
Name: score, dtype: int64

`[]` operator can also access multiple columns.
- Use `SCORES_DF[["score", "id"]]` to access `score` and `id` column in order.

In [10]:
SCORES_DF[["score", "id"]].head(5)

   score  id
0     49   1
1     99   2
2     62   3
3     14   4
4      7   5

To find maximum value of the column, use `.max()`.

In [11]:
max_score = SCORES_DF["score"].max()
print(f"The maximum score is {max_score} points.")

The maximum score is 99 points.

# Problem `Q3`

Please find the total student that have score equal or more than 80 points.

- To access score column, we use `SCORE_DF["score"]`.
- So the condition score more than or equal to 80 point would be `SCORE_DF["score"] >= 80`
- To filter rows that meets the condition, use `[]` operation.

In [12]:
# Create filter condition.
CONDITION = SCORES_DF["score"] >= 80

# Apply filtering to the DataFrame.
SCORES_DF[CONDITION]

    id  score
1    2     99
7    8     94
15  16     98
17  18     94
19  20     97
20  21     82
29  30     82
46  47     89

To find amount of rows, use `.shape[0]`

In [13]:
dataset_rows = SCORES_DF[CONDITION].shape[0]
print(f"There are {dataset_rows} students who has more than or equal to 80 points.")

There are 8 students who has more than or equal to 80 points.